body{
    background-color: rgb(245, 206, 159);
}


h1{
    text-align: center;
}

h2{
    margin: 2rem 0 3rem 2rem;
}

h3{
    text-align: center;
}

#griglia-di-tris{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 20rem;
}

#griglia-di-tris .button{
    height:100px;
    background-color: rgb(243, 189, 124);
}

button#btn-1,
button#btn-4,
button#btn-7{
    border-top: none;
    border-left: none;
}

button#btn-2,
button#btn-5,
button#btn-8{
    border-top: none;
    border-right: none;
    border-left: none;
}

button#btn-3,
button#btn-6,
button#btn-9{
    border-top:none;
    border-right:none;
}

button#btn-7,
button#btn-8,
button#btn-9{
    border-bottom:none;
}



button#start-again{
    /* text-align: center; */
    margin-top:50px;
    margin-left:47%;
    background-color: rgb(240, 106, 16);
}


