#griglia-di-tris{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#griglia-di-tris .button{
    height:100px;
    background-color: aqua;
}

button#btn-1,
button#btn-4,
button#btn-7{
    border-top: none;
    border-left: none;
}

button#btn-2,
button#btn-5,
button#btn-8{
    border-top: none;
    border-right: none;
    border-left: none;
}

button#btn-3,
button#btn-6,
button#btn-9{
    border-top:none;
    border-right:none;
}

button#start-again{
    margin-top:50px;
    background-color: green;
}


